body {
    font-family: 'Inter', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Helvetica Neue', Arial, sans-serif;
    line-height: 1.8;
    color: #333;
    background-color: #f5f5f5;
    background-image: linear-gradient(rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75)), 
    url('../Imagens/IBM-background.jpg');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
}

/* Seção principal */
#content {
    background-color: #fff;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.25);
    max-width: 1350px;
    margin: 90px auto;
    border-radius: 12px;
    overflow: hidden;
}